<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PG wallah</title>
  <link href="css/about.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../bot/bot.css">
</head>
<body>
  <nav class="navbar " id="navbar">
  <div class="logo"><img src="../images/pgw.jpg"></div> 
  <ul class="navlist classresp hresp" id="navlist">
  <li ><a  href="home">Home</a></li>
  <li ><a href="apply">Advertise PG</a></li>
  <li ><a href="services">Find PG</a></li>
  <li><a href="contact">Contact</a></li>
  <li class="active"><a href="about">About</a></li>
  </ul>
  </nav>
<div class="burger" id="burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  </div>
<div class="about" id="about">
<div class="head">
<h1>About the Website:</h1>
<img src="../images/pgw.jpg" width="200px" height="200px" alt="Logo image" class="logoimg">
<p>First of all Welcome to our website. This website has all the features to help you find the most suited rooms from yourself . The website has all the latest technologies covered which makes it overall very helpful and at the same time it is easy to use as well. </p>
</div>
<div class="head2">  
<h1>About the Creator:</h1>
<img src="../images/sai.jpg" width="200px" height="200px" alt="Creator's image" class="createimg">
<p>
My name is Sachin Upadhyay and I am a B.Tech Student from Graphic era hill university , Dehradun. I have made this website in order to solve the problem faced by many college students of finding a suitable Paid Guest rooms . I have always been into tech stuffs and Web development is one this i felt excited to work on . After learning web development for a few months , I started working on some real life projects to help me sharpen my skills . 
</p>
</div>
</div>
<footer class="foot">
<ul class="sm">
<li><a href="https://www.instagram.com/"><img src="../icons/instagram.png" alt="ig"></a></li>
<li><a href="https://www.linkedin.com/in/sachin-upadhyay-6691a4251/"><img src="../icons/linkedin (1).png" alt="ln"></a></li>
<li><a href="https://youtu.be/C3mRYniCfYw"><img src="../icons/youtube.png" alt="yt"></a></li>
<li><a href="../bot/bot.html"><img src="../images/bot2.png"  class="imgbt"></a></li>
</ul>
</footer>
<script src="../javascript/project.js"></script>
</body>
</html>
