<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PG wallah</title>
  <link href="css/contactstyle.css" rel="stylesheet" type="text/css" />
 
</head>
<body>
   <nav class="navbar " id="navbar">
  <div class="logo"><img src="../images/pgw.jpg"></div> 
  <ul class="navlist classresp hresp" id="navlist">
  <li ><a  href="home">Home</a></li>
  <li><a href="apply">Advertise PG</a></li>
  <li ><a href="services">Find PG</a></li>
  <li class="active"><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  </ul>
  </nav>
<div class="burger" id="burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  </div>
<div class="Contact " id="contact">
  <div class="stcontact">  
    <p>Got a question ?</p>  
    <h1>Contact <br>PG wallah<br>Now !!</h1>
    </div>   
<form action="/contact" method="POST" class="contactform" autocomplete="off"> 
<p>First name</p>
<input type="text" placeholder="First name" name="Firstname" required>
<p>Last name</p>
<input type="text" placeholder="Last name" name="Lastname">  
<p>Email</p>
<input type="email" placeholder="Enter Email" name="Email" required>  
<p>Message</p>
<textarea class="messagebox" name="Message" placeholder="Enter your message here"></textarea>  
<div class="submitmsg">
<button type="submit" value="contact">Send Message</button>
</div>
</form>
</div>
<footer class="foot">
<ul class="sm">
<li><a href="https://www.instagram.com/"><img src="../icons/instagram.png" alt="ig"></a></li>
<li><a href="https://www.linkedin.com/in/sachin-upadhyay-6691a4251/"><img src="../icons/linkedin (1).png" alt="ln"></a></li>
<li><a href="https://youtu.be/C3mRYniCfYw"><img src="../icons/youtube.png" alt="yt"></a></li>
<li><a href="../bot/bot.html"><img src="../images/bot2.png"  class="imgbt"></a></li>
</ul>
</footer>
<script src="../javascript/project.js"></script>
</body>
</html>
