<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PG wallah</title>
  <link href="css/city.css" rel="stylesheet" type="text/css" />
 
</head>
<body>
  <nav class="navbar " id="navbar">
  <div class="logo"><img src="../images/pgw.jpg"></div> 
  <ul class="navlist classresp hresp" id="navlist">
  <li ><a  href="home">Home</a></li>
  <li><a href="apply">Advertise PG</a></li>
  <li class="active"><a href="services">Find PG</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  </ul>
  </nav>
<div class="burger" id="burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  </div>    
<header class="head">
<h1>Dehradun<hr></h1>
</header>   
<div class="city" id="city">
<div class="content">
<h2><img src="/images/bot2.png" class="ownerimg">   Bist Rooms</h2>
<h3>Description :</h3>
<div class="box">
<table>
  <tr>
    <th>Owner</th>
    <td>Ratan Bist</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>ratanbist23@gmail.com</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>Hno- 20/A Shubhash Nagar, Near Graphic Era, Dehradun</td>
  </tr>
  <tr>
    <th>Rent per Month</th>
    <td>5000</td>
  </tr>
  <tr>
    <th>Rooms status</th>
    <td>Available</td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td>9887766554</td>
  </tr>
</table>
</div>
<div class="imgset">
   <img src="../images/r3.jpg" alt="image" class="imgpg">
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27567.26709743921!2d77.99054143702126!3d30.268191385275617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092befa7608ead%3A0xe723fed2168f7a8d!2sClement%20Town%2C%20Dehradun%2C%20Uttarakhand%20248002!5e0!3m2!1sen!2sin!4v1671121687072!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
<hr>
</div>
  <div class="content">
    <h2><img src="/images/bot2.png" class="ownerimg">      Chaudhary PG</h2>
    <h3>Description :</h3>
    <div class="box">
    <table>
  <tr>
    <th>Owner</th>
    <td>Shubhash Chaudhary</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>chaudharyS3@gmail.com</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>Hno-40/B Clement town, Near Graphic Era , Dehradun</td>
  </tr>
  <tr>
    <th>Rent per Month</th>
    <td>6500</td>
  </tr>
  <tr>
    <th>Rooms status</th>
    <td>Available</td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td>8776655443 </td>
  </tr>
</table>
    </div>
    <div class="imgset">
       <img src="../images/r4.jpg" alt="image" class="imgpg">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27567.26709743921!2d77.99054143702126!3d30.268191385275617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092befa7608ead%3A0xe723fed2168f7a8d!2sClement%20Town%2C%20Dehradun%2C%20Uttarakhand%20248002!5e0!3m2!1sen!2sin!4v1671121687072!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
<hr>
</div>
<footer class="foot">
<ul class="sm">
<li><a href="https://www.instagram.com/"><img src="../icons/instagram.png" alt="ig"></a></li>
<li><a href="https://www.linkedin.com/in/sachin-upadhyay-6691a4251/"><img src="../icons/linkedin (1).png" alt="ln"></a></li>
<li><a href="https://youtu.be/C3mRYniCfYw"><img src="../icons/youtube.png" alt="yt"></a></li>
<li><a href="../bot/bot.html"><img src="../images/bot2.png"  class="imgbt"></a></li>
</ul>
</footer>
<script src="../javascript/project.js"></script>
<script>
</script>
</body>
</html>
