<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PG wallah</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <nav class="navbar " id="navbar">
  <div class="logo"><img src="../images/pgw.jpg"></div> 
  <ul class="navlist classresp hresp" id="navlist">
  <li class="active"><a  href="index">Home</a></li>
  <li><a href="login">Advertise PG</a></li>
  <li ><a href="login">Find PG</a></li>
  <li><a href="login">Contact</a></li>
  <li><a href="login">About</a></li>
  </ul>
  </nav>
<div class="burger" id="burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  </div>
<div class="home vp" id="home">
  <h1 class="headhome">Welcome to <i style="color:rgb(255, 81, 0)">PG wallah</i></h1>
  <p class="parahome"><i>Find the best suited rooms in just one click ....</i></p>
  <button class="loginbtn"><a href="login">Start here</a></button>  
</div>
<footer class="foot">
<ul class="sm">
<li><img src="../icons/instagram.png" alt="ig"></li>
<li><img src="../icons/linkedin (1).png" alt="ln"></li>
<li><img src="../icons/youtube.png" alt="yt"></li>
<li><a href="login"><img src="../images/bot2.png"  class="imgbt"></a></li>
</ul>
</footer>
<script src="../javascript/project.js"></script>
</body>
</html>
