<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PG wallah</title>
  <link href="css/services.css" rel="stylesheet" type="text/css" />
 
</head>
<body>
  <nav class="navbar " id="navbar">
  <div class="logo"><img src="../images/pgw.jpg"></div> 
  <ul class="navlist classresp hresp" id="navlist">
  <li ><a  href="home">Home</a></li>
  <li><a href="apply">Advertise PG</a></li>
  <li class="active"><a href="services">Find PG</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  </ul>
  </nav>
<div class="burger" id="burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  </div>
<div class="services " id="services">
<div class="slider">
  <ul class="slide">
    <li>
    <span><img class="simg" src="../images/rr1 (1).jpg" ></span>    
    </li> 
    <li>
    <span><img class="simg" src="../images/rr1 (3).jpg" ></span>    
    </li> 
    <li>
    <span ><img class="simg" src="../images/rr1 (4).jpg" ></span>    
    </li>
    <li>
    <span ><img class="simg" src="../images/rr1 (5).jpg" ></span>    
    </li> 
    <li>
    <span ><img class="simg" src="../images/rr2 (2).jpg" ></span>    
    </li>     
    </ul>
  </div> 
  <div class="content">
  <h1>We provide the following services </h1>
  <ul class="servicelist">
  <li>We provide details about the Paid guests rooms at various locations</li>
  <li>You can see the ratings of different Paid guests rooms around your 
      location and select from the various choices according to your convinience.</li>  
  <li>You can directly contact the Room owners through the website and 
      discuss with them personally </li>  
<h2 class="formhead">Search PG rooms (Raw data list)</h2>
<form action="/findPg" method="POST" class="form1" autocomplete="off">
<input type="text" placeholder="Enter place" name="Place"/>
<button type="submit">Search</button> 
</form>
   </ul>
   <div class="searchpg">
   <h2 class="searchtxt">Search for rooms(Full data with images)</h2>
   <form action="">
    <div class="dropdown">
      <button class="dropbtn">Select Place</button>
      <div class="dropdown-content">
        <a href="dehradun">Dehradun</a>
        <a href="delhi">Delhi</a>
      </div>
    </div> 
</form>   
</div>  
</div>
  </div>
<footer class="foot">
<ul class="sm">
<li><a href="https://www.instagram.com/"><img src="../icons/instagram.png" alt="ig"></a></li>
<li><a href="https://www.linkedin.com/in/sachin-upadhyay-6691a4251/"><img src="../icons/linkedin (1).png" alt="ln"></a></li>
<li><a href="https://youtu.be/C3mRYniCfYw"><img src="../icons/youtube.png" alt="yt"></a></li>
<li><a href="../bot/bot.html"><img src="../images/bot2.png"  class="imgbt"></a></li>
</ul>
</footer>
<script src="../javascript/project.js"></script>
</body>
</html>
