<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: url('/resourses/images/647570.jpg') rgba(0,0,0,0.813);
        background-blend-mode: darken;
      }
        h1 {
          color: #000000;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 1000;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #000000;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 300;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #1a4708;
        font-size: 100px;
        font-weight: 600;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: rgb(255,81,0);
        padding: 60px;
        border-radius: 6px;
        box-shadow: 0 2px 3px #090a0b;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #ffffff; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>Data Successfully sent !<br/> Thanks for you Response !</p>
      </div>
    </body>
</html>